body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
  
}

.orange{
    color: #e67e22;
}
.section-1{
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
    margin-top: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#d35400, #c0392b);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}